<div class="banner"></div>

<h1 class="mb-1 restaurant-show-title text-center">Register</h1>
{{> message}}
<div class="container">
  <div class="register">
    <form class="col-md-5" action="/users" method="POST">
    
      <div class="row pb-3">
        <label for="name" class="px-0">Name</label>
        <input type="text" class="form-control" name="name" placeholder="Enter name">
      </div>

      <div class="row pb-3">
        <label for="email" class="px-0">Email</label>
        <input type="email" class="form-control" name="email" placeholder="Enter email" required>
      </div>

      <div class="row pb-3">
        <label for="password" class="px-0">Password</label>
        <input type="password" class="form-control" name="password" placeholder="Enter password" required>
      </div>

      <div class="row">
        <label for="confirmPassword" class="px-0">Confirm password</label>
        <input type="password" class="form-control" name="confirmPassword" placeholder="Confirm password"
          required>
      </div>

      <div class="row justify-content-center py-4">
        <button class="btn btn-primary col-auto text-center px-2" type="submit">Register</button>
      </div>

    </form>
  </div>
</div>

<div class="mx-auto text-center">
    <span class="text-secondary">Already have an account?</span>
    <a href="/login">Login</a>
</div>